/* :root {
    margin: 17px 17px;
    background-color: #c3efc2;
} */

/* div {
    background-image: url(assets\images\Boho-MIX-02.png);
    background-repeat: repeat;
    background-size: 75px 75px;
    

} */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /* padding: 15px;    */
    background-image: url(assets\images\Boho-MIX-02.png);
    /* background-image still not loading until an img on html */
    background-repeat: repeat;
    background-size: 75px 75px;
    /* if background image doesn't load */
    background-color: #c3efc2;
}



header {
    text-align: center;
    padding: 15px;
}

section {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-basis: "max-width";
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}


#mainHeader {
    color: #4509d1;
    font-weight: bolder;
    font-size: 2rem;
    padding: 25px;
    /* margin: 15px; */
}

.tagline {
    color: #42248a;
    font-size: 1.4rem;
    font-style: oblique;
}

h2 {
    text-align: center;
}

.description {
    color:#618623;
    text-align: center;
    padding: 15px;
}

.gameRules {
    color:#231349;
    padding: 15px;
    font-size: 18px;
}

li {
    font-size: 18px;
    color:#231349;

}

.mainButton {
    color: white;
    font-weight: bold;
    background-color: #618623;
    padding: 15px;
    border-radius: 20px 20px;
    font-size: 25px;
}

.shadow {
    box-shadow: 5px 5px 10px 2px #311a65;
    border-radius: 20px 20px;
}

@media screen and (max-width: 750px) {
   h1 { background-color: aquamarine;
    flex-wrap: nowrap;
   }
}
@media screen and (min-width: 750px){
    h1 {
    background-color: darkseagreen;
    flex-wrap: wrap;
    }
)